<% if contents && contents.errors.any? %>
  <ul class="list-unstyled" style="color: red">
    <% contents.errors.full_messages.each do |message| %>
      <li>※<%= message %></li>
    <% end %>
  </ul>
<% end %>