<% if contents && contents.errors.any? %>
  <div class="row pl-3">
    <ul class="list-unstyled" style="color: red">
      <% contents.errors.full_messages.each do |message| %>
        <li>※<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>