<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render "public/shared/left_screen", member: @member_for_left, post: @post, favorite_posts: @favorite_posts %>
    </div>
    <div class="col-9">
      <div class="row mt-2 mr-2">
        <div class="col">
          <div class="row">
            <h3 style="background-color: rgba(169, 169, 169, 0.5)">投稿一覧</h3>
          </div>
          <%= render "public/posts/index", posts: @posts %>
        </div>
      </div>
      <div class="row">
        <div class="mx-auto"><%= paginate @posts, theme: 'bootstrap-5' %></div>
      </div>
    </div>
  </div>
</div>