<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render "public/shared/left_screen", member: @member, post: @post, favorite_posts: @favorite_posts %>
    </div>
    <div class="col-8 pr-5">
      <%= render "public/posts/show", member: @member, post_show: @post_show, post_comment: @post_comment %>
    </div>
  </div>
</div>