<div class="container">
  <h1 class="mb-4 text-center">merindsとは？</h1>
  <div class="row">
    <h4>－どんなサイトなの？－</h4>
    <p>
      プログラミング学習時の不明点の共有だけでなく、趣味や娯楽を共有できる友人を見つけるきっかけを作ることもできるSNSサイトです！
      </p>
    <h4 class="mt-2">－merindsの由来とは？－</h4>
    <p>
      ギリシャ語で「共有」という意味の<b class="text-success"> meridio(メリーディオ) </b>と、英語で「友達」という意味の<b class="text-success"> friends(フレンズ) </b>を組み合わせ、<b class="text-primary"> merinds(メリンズ) </b>と命名しました。
    </p>
    <h4 class="mt-2">－何ができるの？－</h4>
    <p>
      プログラミング学習中に起きた不明点や他にも共有したいことを投稿したり、他のユーザの投稿に対してコメントすることができます。
      ユーザをフォローすることができ、相互フォローのユーザーにはDMを送ることもできます。
      また、グループを作成し、参加してもらう事で、プログラミング学習以外にも趣味仲間とコンタクトをとったりすることもできますs。
    </p>
    <h4 class="mt-2">－ゲストログインとは？－</h4>
    <p>
      ゲストログインすることで、新規会員登録せずサイトの一部を見ることができます！
      少しでも興味を持っていただけましたら、まずはゲストログインをしてみてください！
    </p>
  </div>
  <div class="mt-4">
    <%= image_tag 'about.jpg', size: "740x634" %>
    <p class="text-left mt-1"><b>※開発中の画面のため、実際とは異なります。</b><p>
  </div>
</div>