<div class="container">
  <div class="row">
    <h4 class="mt-2 mb-4" style="background-color: rgba(169, 169, 169, 0.5)">会員一覧</h4>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th>会員ID</th>
        <th>アイコン</th>
        <th>氏名</th>
        <th>ニックネーム</th>
        <th>メールアドレス</th>
        <th>参加グループ</th>
        <th>ステータス</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>