<% if post.favorited_by?(current_member) %>
<!--現ユーザーが投稿のfavoritesテーブル内に存在する(いいね済)場合-->
  <%= link_to favorites_create_path(post), method: :delete do %>
    <span class="text-danger">
      <i class="fas fa-heart"></i>
      <%= post.favorites.count %>
    </span>
  <% end %>
<% else %>
  <%= link_to favorites_create_path(post), method: :post do %>
    <span class="text-dark">
      <i class="far fa-heart"></i>
      <%= post.favorites.count %>
    </span>
  <% end %>
<% end %>