<footer class="border-top">
  <div>
    <%= link_to "merindsとは?", about_path %>／
    <%= link_to "FAQ" %>／
    <%= link_to "お問い合わせ" %>
    <p class="text-right">不明点・不具合などありましたら、<u>sample@merinds.com</u>へ連絡お願いします。</p>
  </div>
  <p class="pt-1 text-center">©merinds</p>
</footer>