<footer>
  <div>
    <%= link_to "merindsとは?", about_path %>／
    <%= link_to "FAQ" %>／
    <%= link_to "お問い合わせ" %><br>
    不明点・不具合などありましたら、sample@merinds.comへ連絡お願いします。
  </div>
  <p class="text-center">©merinds</p>
</footer>