<footer class="border-top p-2 text-light" style="height: 110px; background-color: rgba(52, 58, 64, 1)">
  <div>
    <%= link_to "merindsとは?", about_path %>／
    <%= link_to "FAQ" %>／
    <%= link_to "お問い合わせ" %>
    <p class="text-left pt-1">不明点・不具合などありましたら、<u>sample@merinds.com</u>へ連絡お願いします。</p>
  </div>
  <p class="pt-1 text-center">©merinds</p>
</footer>